<%= @league.name %>

<%= link_to "Edit",
    edit_league_path(@league) %>

<%= link_to "Delete League",
    league_path(@league),
    method: :delete,
    data: {confirm: "Are you sure?"} %>

<%= link_to "Join League", league_league_players_path(@league), method: :post %>

<ul>
  <% @league_players.each do |player| %>
    <li>
      <%= player.user.email %>
    </li>
  <% end %>
</ul>
