<%= @league.name %>

<% if policy(@league).update? %>
  <%= link_to "Edit", edit_league_path(@league) %>
<% end %>

<% if policy(@league).update? %>
  <%= link_to "Delete League",
    league_path(@league),
    method: :delete,
    data: {confirm: "Are you sure?"} %>
<% end %>

<% unless @league.user_leagues.where(user: current_user).exists? %>
    <%= link_to "Join League", league_user_leagues_path(@league), method: :post %>
<% end %>

<ul>
  <div>Standings</div>
  <% @user_leagues.each do |player| %>
    <li>
      <%= player.user.email %>
      <%= player.calculate_points %>
    </li>
  <% end %>
</ul>

<% @league_races.each do |league_race| %>
  <%= league_race.race.name %>
  <ul>
    <% @user_leagues.each do |player| %>
      <li>
        <% if choice = Choice.where(user_league: player, race_driver: RaceDriver.where(race: league_race.race)).first %>
          <%= link_to choice_path(choice) do %>
            <% choice.race_driver.team_driver.driver.code %>
          <% end %>
        <% else %>
          <% if Race.upcoming_race == league_race.race %>
            <%= link_to "Make a Choice", new_user_league_choice_path(player, race: league_race.race)%>
          <% end %>
        <% end %>
        <%= player.user.email %>
      </li>
    <% end %>
  </ul>
<% end %>
