<%= @league.name %>

<%= link_to "Edit",
    edit_league_path(@league) %>

<%= link_to "Delete League",
    league_path(@league),
    method: :delete,
    data: {confirm: "Are you sure?"} %>

<% if @league.user_leagues.where(user: current_user).exists? %>
    <%= link_to "Make a choice", new_league_choice_path(@league) %>
  <% else %>
    <%= link_to "Join League", league_user_leagues_path(@league), method: :post %>
<% end %>

<ul>
  <% @user_leagues.each do |player| %>
    <li>
      <%= player.user.email %>
      <%= link_to "Delete player",
      user_league_path(player),
      method: :delete,
      data: {confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ul>
